In [3]:
import pandas as pd
from pathlib import Path

# load files
school_data_to_load = Path(r"C:\Users\rache\pandas-challenge\PyCitySchools\Resources\schools_complete.csv")
student_data_to_load = Path(r"C:\Users\rache\pandas-challenge\PyCitySchools\Resources\students_complete.csv")

# read School and Student Data Files and store into Pandas dataframes
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# combine data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [4]:
# calculate the total number of unique schools
unique_school_name = school_data_complete['school_name'].unique()
school_count = len(unique_school_name)

In [5]:
# Calculate the total number of students
total_students = school_data_complete['student_name'].count()

In [6]:
# Calculate the total budget
total_budget = school_data['budget'].sum()

In [7]:
# Calculate the average (mean) math score
average_math_score = school_data_complete['math_score'].mean()

In [8]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete['reading_score'].mean()

In [9]:
# Use the following to calculate the percentage of students who passed math 
# (math scores greater than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(total_students) * 100

In [10]:
# Calculate the percentage of students who passed reading
passing_reading_count = school_data_complete[(school_data_complete['reading_score'] >= 70)].count()['student_name']
passing_reading_percentage = passing_reading_count / float(total_students) * 100

In [11]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(total_students) * 100

In [12]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame(
    {"Total Schools" : school_count,
     "Total Students" : total_students,
     "Total Budget" : total_budget,
     "Average Math Score" : average_math_score,
     "Average Reading Score" : average_reading_score,
     "% of Students Passing Math" : passing_math_percentage,
     "% of Students Passing Reading" : passing_reading_percentage,
     "% of Students Passing Overall" : overall_passing_rate}, index=[0])

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% of Students Passing Math,% of Students Passing Reading,% of Students Passing Overall
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [13]:
# School Type
school_types = school_data.set_index(['school_name'])['type']
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [14]:
# Total Student Count Per School
per_school_counts = school_data.set_index(['school_name'])['size']

In [15]:
# Total School Budget
total_school_budget = school_data.set_index('school_name')['budget']

In [16]:
# Per Student Budget
per_student_capita = school_data.set_index('school_name')['budget']/school_data.set_index('school_name')['size']

In [17]:
# Average Math Score by School
avg_math_score_by_school = school_data_complete.groupby('school_name')['math_score'].mean()

In [18]:
# Average Reading Score by School
avg_reading_score_by_school = school_data_complete.groupby('school_name')['reading_score'].mean()

In [19]:
# Number of Students Passing Math Per School
students_passing_math = school_data_complete[school_data_complete['math_score'] >= 70]
school_students_passing_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['Student ID'].count()

In [20]:
# Number of Students Passing Reading Per School
students_passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70]
school_students_passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['Student ID'].count()

In [21]:
# % Passing Overall
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [22]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['Student ID'].count() / per_school_counts * 100
per_school_passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['Student ID'].count() / per_school_counts * 100
overall_passing_rate = students_passing_math_and_reading.groupby(["school_name"]).size() / per_school_counts * 100

In [23]:
# Create a DataFrame

per_school_summary = pd.DataFrame(
    {"School Type": school_types,
     "Total Students": per_school_counts,
     "Total School Budget": total_school_budget,
     "Per Student Budget": per_student_capita,
     "Average Math Score": avg_math_score_by_school,
     "Average Reading Score": avg_reading_score_by_school,
     "% Passing Math": per_school_passing_reading,
     "% Passing Reading": per_school_passing_reading,
     "% Overall Passing": overall_passing_rate})

per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,81.933280,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,97.039828,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,80.739234,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,79.299014,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,97.138965,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,80.862999,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,96.252927,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,81.316421,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,81.222432,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,95.945946,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,80.220055,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,95.854628,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,97.308869,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,96.539641,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,96.611111,96.611111,90.333333

In [24]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values("% Overall Passing", ascending = False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,97.039828,97.039828,91.334769
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,97.308869,97.308869,90.948012
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,97.138965,97.138965,90.599455
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,96.539641,96.539641,90.582567
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,95.945946,95.945946,90.540541

In [25]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools =per_school_summary.sort_values("% Overall Passing", ascending = True)
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,80.220055,80.220055,52.988247
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,80.739234,80.739234,53.204476
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,81.316421,81.316421,53.513884
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,80.862999,80.862999,53.527508
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,81.222432,81.222432,53.539172

In [26]:
# Group by `school_name` and take the mean of the `math_score` column for each.'
ninth_grade_math = school_data_complete.loc[school_data_complete["grade"] == "9th"].groupby(["school_name"])["math_score"].mean()
tenth_grade_math = school_data_complete.loc[school_data_complete["grade"] == "10th"].groupby(["school_name"])["math_score"].mean()
eleventh_grade_math = school_data_complete.loc[school_data_complete["grade"] == "11th"].groupby(["school_name"])["math_score"].mean()
twelfth_grade_math = school_data_complete.loc[school_data_complete["grade"] == "12th"].groupby(["school_name"])["math_score"].mean()

In [27]:
# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_math,
    "10th": tenth_grade_math,
    "11th": eleventh_grade_math,
    "12th": twelfth_grade_math})

# Minor data wrangling
math_scores_by_grade.index.name = None

math_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [28]:
ninth_grade_reading = school_data_complete.loc[school_data_complete["grade"] == "9th"].groupby(["school_name"])["reading_score"].mean()
tenth_grade_reading = school_data_complete.loc[school_data_complete["grade"] == "10th"].groupby(["school_name"])["reading_score"].mean()
eleventh_grade_reading = school_data_complete.loc[school_data_complete["grade"] == "11th"].groupby(["school_name"])["reading_score"].mean()
twelfth_grade_reading = school_data_complete.loc[school_data_complete["grade"] == "12th"].groupby(["school_name"])["reading_score"].mean()

In [29]:
# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_reading,
    "10th": tenth_grade_reading,
    "11th": eleventh_grade_reading,
    "12th": twelfth_grade_reading})

# Minor data wrangling
reading_scores_by_grade.index.name = None

reading_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [78]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [79]:
# Create a copy of the school summary since it has the "Per Student Budget"
school_spending_df = per_school_summary.copy()

In [95]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], spending_bins, labels=labels)
del school_spending_df['Spending Ranges']
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,81.933280,81.933280,54.642283,$585-630
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,97.039828,97.039828,91.334769,<$585
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,80.739234,80.739234,53.204476,$630-645
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,79.299014,79.299014,54.289887,$630-645
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,97.138965,97.138965,90.599455,$585-630
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,80.862999,80.862999,53.527508,$645-680
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,96.252927,96.252927,89.227166,<$585
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,81.316421,81.316421,53.513884,$645-680
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,81.222432,81.222432,53.539172,$645-680
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,95.945946,95.945946,90.540541,$585-630
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,80.220055,80.220055,52.988247,$630-645
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,95.854628,95.854628,89.892107,$585-630
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,97.308869,97.308869,90.948012,$630-645
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,96.539641,96.539641,90.582567,<$585
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,96.611111,96.611111,90.333333,<$585

In [107]:
#  Calculate averages for the desired columns.
#  Average Math Score, Average Reading Score, % Passing Math, % Passing Reading, % Overall Passing

In [109]:
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_math_scores

C:\Users\rache\AppData\Local\Temp\ipykernel_14816\2399554276.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()

Spending Ranges (Per Student)
<$585       83.455399
$585-630    81.899826
$630-645    78.518855
$645-680    76.997210
Name: Average Math Score, dtype: float64