In [9]:
import pandas as pd
from pathlib import Path

# load files
school_data_to_load = Path(r"C:\Users\rache\pandas-challenge\PyCitySchools\Resources\schools_complete.csv")
student_data_to_load = Path(r"C:\Users\rache\pandas-challenge\PyCitySchools\Resources\students_complete.csv")

# read School and Student Data Files and store into Pandas dataframes
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# combine data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [45]:
# calculate the total number of unique schools
unique_school_name = school_data_complete['school_name'].unique()
school_count = len(unique_school_name)

In [46]:
# Calculate the total number of studentotal_students = school_data_complete['student_name'].unique()
total_students = school_data_complete['student_name'].count()

In [47]:
# Calculate the total budget
total_budget = school_data['budget'].sum()

In [13]:
# Calculate the average (mean) math score
average_math_score = school_data_complete['math_score'].mean()
average_math_score

78.98537145774827

In [14]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete['reading_score'].mean()
average_reading_score

81.87784018381414

In [15]:
# Use the following to calculate the percentage of students who passed math 
# (math scores greater than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(total_students) * 100
passing_math_percentage

74.9808526933878

In [16]:
# Calculate the percentage of students who passed reading
passing_reading_count = school_data_complete[(school_data_complete['reading_score'] >= 70)].count()['student_name']
passing_reading_percentage = passing_reading_count / float(total_students) * 100
passing_reading_percentage

85.80546336482001

In [17]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(total_students) * 100
overall_passing_rate

65.17232575950983

In [25]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame(
    {"Total Schools" : school_count,
     "Total Students" : total_students,
     "Total Budget" : total_budget,
     "Average Math Score" : average_math_score,
     "Average Reading Score" : average_reading_score,
     "% of Students Passing Math" : passing_math_percentage,
     "% of Students Passing Reading" : passing_reading_percentage,
     "% of Students Passing Overall" : overall_passing_rate}, index=[0])

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% of Students Passing Math,% of Students Passing Reading,% of Students Passing Overall
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [54]:
# School Name
school_name = school_data_complete.set_index('school_name')
school_name

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635
Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...
Thomas High School,39165,Donna Howard,F,12th,99,90,14,Charter,1635,1043130
Thomas High School,39166,Dawn Bell,F,10th,95,70,14,Charter,1635,1043130
Thomas High School,39167,Rebecca Tanner,F,9th,73,84,14,Charter,1635,1043130
Thomas High School,39168,Desiree Kidd,F,10th,99,90,14,Charter,1635,1043130
Thomas High School,39169,Carolyn Jackson,F,11th,95,75,14,Charter,1635,1043130

In [55]:
# School Type
school_types = school_data.set_index(['school_name'])['type']

In [56]:
# Total Student Count Per School
per_school_counts = school_data.set_index(['school_name'])['size']

In [57]:
# Total School Budget
total_school_budget = school_data.set_index('school_name')['budget']

In [58]:
# Per Student Budget
per_student_capita = school_data.set_index('school_name')['budget']/school_data.set_index('school_name')['size']

In [60]:
# Average Math Score
avg_math_score = school_name['math_score'].mean()
avg_math_score

78.98537145774827

In [61]:
# Average Reading Score
avg_reading_score = school_name['reading_score'].mean()
avg_reading_score

81.87784018381414

In [ ]:
# % Passing Math

In [ ]:
# % Passing Reading

In [ ]:
# % Passing Overall