In [195]:
import pandas as pd
from pathlib import Path

# load files
school_data_to_load = Path(r"C:\Users\rache\pandas-challenge\PyCitySchools\Resources\schools_complete.csv")
student_data_to_load = Path(r"C:\Users\rache\pandas-challenge\PyCitySchools\Resources\students_complete.csv")

# read School and Student Data Files and store into Pandas dataframes
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# combine data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [196]:
# calculate the total number of unique schools
unique_school_name = school_data_complete['school_name'].unique()
school_count = len(unique_school_name)

In [197]:
# Calculate the total number of students
total_students = school_data_complete['student_name'].count()

In [198]:
# Calculate the total budget
total_budget = school_data['budget'].sum()

In [199]:
# Calculate the average (mean) math score
average_math_score = school_data_complete['math_score'].mean()

In [200]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete['reading_score'].mean()

In [201]:
# Use the following to calculate the percentage of students who passed math 
# (math scores greater than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(total_students) * 100

In [202]:
# Calculate the percentage of students who passed reading
passing_reading_count = school_data_complete[(school_data_complete['reading_score'] >= 70)].count()['student_name']
passing_reading_percentage = passing_reading_count / float(total_students) * 100

In [203]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(total_students) * 100

In [204]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame(
    {"Total Schools" : school_count,
     "Total Students" : total_students,
     "Total Budget" : total_budget,
     "Average Math Score" : average_math_score,
     "Average Reading Score" : average_reading_score,
     "% of Students Passing Math" : passing_math_percentage,
     "% of Students Passing Reading" : passing_reading_percentage,
     "% of Students Passing Overall" : overall_passing_rate}, index=[0])

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% of Students Passing Math,% of Students Passing Reading,% of Students Passing Overall
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [205]:
# School Type
school_types = school_data.set_index(['school_name'])['type']
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [372]:
# Total Student Count Per School
per_school_counts = school_data.set_index(['school_name'])['size']
per_school_counts

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [254]:
# Total School Budget
total_school_budget = school_data.set_index('school_name')['budget']
total_school_budget = pd.DataFrame(total_school_budget)

In [259]:
# Per Student Budget
per_student_capita = school_data.set_index('school_name')['budget']/school_data.set_index('school_name')['size']
per_student_capita = pd.DataFrame(per_student_capita)

In [309]:
# Average Math Score by School
avg_math_score_by_school = school_data_complete.groupby('school_name')['math_score'].mean()

In [310]:
# Average Reading Score by School
avg_reading_score_by_school = school_data_complete.groupby('school_name')['reading_score'].mean()

In [368]:
# Number of Students Passing Math Per School
students_passing_math = school_data_complete[school_data_complete['math_score'] >= 70]
school_students_passing_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['Student ID'].count()

In [357]:
# Number of Students Passing Reading Per School
students_passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70]
school_students_passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['Student ID'].count()

In [363]:
# % Passing Overall
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [380]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['Student ID'].count() / per_school_counts * 100
per_school_passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['Student ID'].count() / per_school_counts * 100
overall_passing_rate = students_passing_math_and_reading.groupby(["school_name"]).size() / per_school_counts * 100