In [4]:
import pandas as pd
from pathlib import Path

# load files
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# read School and Student Data Files and store into Pandas dataframes
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# combine data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [13]:
# calculate the total number of unique schools
unique_school_name = school_data_complete['school_name'].unique()
school_count = len(unique_school_name)
school_count

15

In [24]:
# Calculate the total number of studentotal_students = school_data_complete['student_name'].unique()
total_students = school_data_complete['student_name'].count()
total_students

39170

In [16]:
# Calculate the total budget

In [ ]:
# Calculate the average (mean) math score

In [ ]:
# Calculate the average (mean) reading score

In [ ]:
# Use the following to calculate the percentage of students who passed math (math scores greater than or equal to 70)

In [ ]:
# Calculate the percentage of students who passed reading

In [ ]:
# Use the following to calculate the percentage of students that passed math and reading

In [ ]:
# Create a high-level snapshot of the district's key metrics in a DataFrame

# Formatting

# Display the DataFrame